In [7]:
import pandas as pd

df1 = pd.read_csv("../data/raw/bank_leads_v4.csv", sep="\t")

df1.head()

,LeadID,LeadSource,Age,Gender,EmploymentStatus,Income,MaritalStatus,Province,InitialProductInterest,WebsiteVisits_PreConversion,...,FirstProductTaken,FirstTransactionAmount,MonthlyRevenue,TenureMonths,CLTV,EngagementScore,AgeGroup,HighValueLead,AgeScore,LeadPriorityScore
0,L00001,Referral,39,Female,Self-employed,60679.910156,Divorced,British Columbia,Credit Card,2,...,NaN,0,0.000000,0,0.00000,2.30,35-44,0,3,1.52
1,L00002,Partnership,19,Male,Part-time,48959.320312,Single,Quebec,Credit Card,2,...,NaN,0,0.000000,0,0.00000,0.30,18-24,0,2,0.52
2,L00003,Social Media,21,Male,Unknown,28953.990234,Married,British Columbia,Investment,2,...,Investment,2378,39.090000,54,2110.98999,0.90,18-24,0,2,0.76
3,L00004,Branch Walk-in,62,Female,Part-time,75863.070312,Single,Quebec,Credit Card,1,...,Credit Card,1498,110.629997,43,4757.22998,2.20,55-64,0,1,1.08
4,L00005,Online Ad,30,Female,Self-employed,48526.550781,Married,Ontario,Chequing Account,8,...,NaN,0,0.000000,0,0.00000,4.35,25-34,0,3,2.34

In [8]:
df1.shape

(20000, 31)

In [9]:
df1.columns.tolist()

['LeadID',
 'LeadSource',
 'Age',
 'Gender',
 'EmploymentStatus',
 'Income',
 'MaritalStatus',
 'Province',
 'InitialProductInterest',
 'WebsiteVisits_PreConversion',
 'TimeOnWebsite_Minutes',
 'EmailOpenedCount',
 'DaysSinceInquiry',
 'CallCenterInquiries',
 'BranchVisits',
 'ReferrerCustomer',
 'HasExistingProducts',
 'FirstContactChannel',
 'ConversionProbability',
 'ConversionClass',
 'ConvertedFlag',
 'FirstProductTaken',
 'FirstTransactionAmount',
 'MonthlyRevenue',
 'TenureMonths',
 'CLTV',
 'EngagementScore',
 'AgeGroup',
 'HighValueLead',
 'AgeScore',
 'LeadPriorityScore']

In [10]:
df1['ConversionClass'].value_counts()

ConversionClass
High      15274
Medium     4414
Low         312
Name: count, dtype: int64

In [11]:
df1['ConversionClass'].value_counts(normalize=True)

ConversionClass
High      0.7637
Medium    0.2207
Low       0.0156
Name: proportion, dtype: float64